.vscode/launch.json
codespace/dersKodlari/.obsidian/app.json
codespace/dersKodlari/.obsidian/appearance.json
codespace/dersKodlari/.obsidian/core-plugins-migration.json
codespace/dersKodlari/.obsidian/core-plugins.json
codespace/dersKodlari/.obsidian/graph.json
codespace/dersKodlari/.obsidian/hotkeys.json
codespace/dersKodlari/.obsidian/workspace.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-git/styles.css
.obsidian/templates.json
.obsidian/workspace.json
