.vscode/launch.json
codespace/dersKodlari/.obsidian/app.json
codespace/dersKodlari/.obsidian/appearance.json
codespace/dersKodlari/.obsidian/core-plugins-migration.json
codespace/dersKodlari/.obsidian/core-plugins.json
codespace/dersKodlari/.obsidian/graph.json
codespace/dersKodlari/.obsidian/hotkeys.json
codespace/dersKodlari/.obsidian/workspace.json
